<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-baseconnect" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BaseConnect</name>
    <description>BLE Lock Scanner via HXJ SDK</description>
    <license>MIT</license>

    <platform name="android">
        <!-- Permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <!-- Java Dependencies from hxjlib folder -->
        <source-file src="src/android/hxjlib/classes.jar" target-dir="libs" />
        <source-file src="src/android/hxjlib/jdk9-deps-1.0.jar" target-dir="libs" />
        <source-file src="src/android/hxjlib/dfu_release.aar" target-dir="libs" />
        <source-file src="src/android/hxjlib/bleoad-release.aar" target-dir="libs" />

        <!-- External library dependency -->
        <framework src="no.nordicsemi.android.support.v18:scanner:1.6.0" />

        <!-- Java source code -->
        <source-file src="src/android/org/jsndev/baseconnect/BaseConnectPlugin.java" target-dir="src/android/org/jsndev/baseconnect" />
        <source-file src="src/android/org/jsndev/baseconnect/utils/MyBleClient.java" target-dir="src/android/org/jsndev/baseconnect/utils" />
    </platform>



    <js-module src="www/baseconnect.js" name="BaseConnect">
        <clobbers target="cordova.plugins.BaseConnect" />
    </js-module>
</plugin>
